.headerItem {
  width: 32px;
  height: 32px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}
.headerItem svg {
  width: 18px;
  height: 18px;
}
.headerItem:not(:last-child) {
  margin-right: 4px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
}
