.headerItem {
  width: 32px;
  height: 32px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}
.headerItem svg {
  width: 18px;
  height: 18px;
}
.headerItem:not(:last-child) {
  margin-right: 4px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
}

.content {
  height: calc(100vh - 128px);
  padding: 30px 24px;
  box-sizing: border-box;
  overflow: auto;
}

.sendBoxItem {
  cursor: pointer;
}

.messageBox {
  border: 1px solid var(--accent-10);
  border-radius: 6px;
  padding: 10px 18px;
  box-sizing: border-box;
}

.messageDate {
  color: var(--gray-10);
  font-size: var(--font-size-1);
  font-style: italic;
}
